$gray: #f4f5f6;
$purple: #823af8;
$black: #1f1f29;

body,
html {
  font-family: "TT Hoves";
  color: $black;

  &.overflow {
    overflow: hidden;
  }
  &.shadow {
    overflow: hidden;
    &:before {
      content: "";
      z-index: 1;
      position: absolute;
      top: 152px;
      left: 310px;
      width: 600%;
      height: calc(100% - 152px);
      background: rgba(0, 0, 0, 0.3);
      @media (max-width: 1200px) {
        height: calc(100% - 146px);
      }
      @media (max-width: 1024px) {
        content: none;
      }
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "TT Hoves";
  color: $black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

input {
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;

  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-title {
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  @media (max-width: 1200px) {
    font-size: 40px;
    line-height: 100%;
  }
  &.white {
    color: white;
  }
}

.black-btn {
  @include inline-flex;
  @include align-center;
  @include justify-center;
  padding: 24px 42px;
  background: $black;
  border-radius: 100px;
  border: 2px solid $black;
  color: white;
  font-weight: 600;
  font-size: 18px;
  @media (max-width: 1024px) {
    padding: 13px 35px;
  }
  &:hover {
    background: white;
    color: $black;
  }
}

.gray-btn {
  @include flex;
  @include align-center;
  @include justify-center;
  padding: 15px 35px;
  background: #f4f5f6;
  border-radius: 14px;
  font-weight: 500;
  font-size: 18px;
  &:hover {
    background: $black;
    color: white;
  }
}

.purple-btn {
  @include inline-flex;
  @include align-center;
  @include justify-center;
  font-size: 18px;
  font-weight: 600;
  color: $purple;
  padding: 15px 30px;
  border-radius: 14px;
  border: 2px solid $purple;
  &:hover {
    border-color: white;
    background: $purple;
    color: white;
  }
}

.green-btn {
  @include inline-flex;
  @include align-center;
  @include justify-center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: #0cb553;
  padding: 15px 30px;
  border-radius: 14px;
  border: 2px solid #0cb553;
  &:hover {
    background: white;
    color: #0cb553;
  }
}

.black2-btn {
  @include inline-flex;
  @include align-center;
  @include justify-center;
  font-size: 18px;
  font-weight: 600;
  color: $black;
  padding: 15px 30px;
  background: white;
  border-radius: 14px;
  border: 2px solid $black;
  &:hover {
    border-color: white;
    background: $black;
    color: white;
  }
}

.purple2-btn {
  @include inline-flex;
  @include align-center;
  @include justify-center;
  font-size: 18px;
  font-weight: 600;
  background: $purple;
  color: white;
  padding: 15px 30px;
  border-radius: 14px;
  border: 2px solid $purple;
  @media (max-width: 1200px) {
    font-size: 16px;
    padding: 15px 25px;
  }
  &:hover {
    background: white;
    color: $purple;
  }
}

.yellow-btn {
  background: #ffb433;
  border-radius: 14px;
  @include flex;
  @include align-center;
  @include justify-center;
  border: 2px solid #ffb433;
  padding: 12px 84px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  &:hover {
    background: transparent;
    color: #ffb433;
  }
}

.drop-menu {
  @include dir-col;
  @include justify-center;
  cursor: pointer;
  display: none;
  padding: 2px;

  @media (max-width: 1024px) {
    @include flex;
  }

  .line {
    width: 26px;
    height: 2px;
    background-color: $black;
    display: block;
    border-radius: 12px;
    margin: 3px auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}

input.error {
  border-color: red !important;
}

label.error {
  display: none !important;
}

.social {
  @include flex;
  li {
    margin-right: 16px;
    @media (max-width: 767px) {
      margin-right: 8px;
    }
    a {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      @include flex;
      background: rgba(0, 0, 0, 0.1);
      @media (max-width: 1200px) {
        width: 56px;
        height: 56px;
      }
      @media (max-width: 1024px) {
        width: 50px;
        height: 50px;
      }
      @media (max-width: 767px) {
        width: 32px;
        height: 32px;
      }
      img {
        margin: auto;
        transition: 0.3s;
        @media (max-width: 1200px) {
          width: 27px;
        }
        @media (max-width: 1024px) {
          width: 22px;
        }
        @media (max-width: 767px) {
          width: 16px;
        }
      }
      &:hover {
        background: lighten($purple, 30%);
        img {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.footer {
  background: $gray;
  @media (max-width: 767px) {
    border-radius: 20px 20px 0 0;
  }
  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 12px;
    display: block;
    @media (max-width: 767px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  .footer-top {
    padding: 60px 0 40px;
    @media (max-width: 767px) {
      padding: 30px 0;
    }
    .wrapper {
      @include flex;
      @include justify-between;
      @media (max-width: 1024px) {
        @include flex-wrap;
      }
      .footer-info {
        max-width: 360px;
        @media (max-width: 1200px) {
          max-width: 300px;
        }
        @media (max-width: 1024px) {
          max-width: inherit;
          width: calc(50% - 20px);
          order: 0;
        }
        @media (max-width: 767px) {
          width: calc(50% - 10px);
        }
        h4 {
          margin-bottom: 26px;
          font-weight: 500;
          font-size: 32px;
          line-height: 120%;
          @media (max-width: 1200px) {
            font-size: 26px;
          }
          @media (max-width: 1024px) {
            font-size: 24px;
            margin-bottom: 20px;
          }
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
        p {
          color: #828286;
          font-size: 15px;
          max-width: 330px;
          @media (max-width: 1024px) {
            max-width: 100%;
          }
          @media (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
      .menu-wrap {
        @media (max-width: 1024px) {
          width: calc(50% - 20px);
          order: 1;
          margin-top: 32px;
        }
        @media (max-width: 767px) {
          width: calc(50% - 10px);
        }
        p {
          color: #828286;
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 500;
          @media (max-width: 767px) {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
        ul {
          li {
            margin-bottom: 16px;
            @media (max-width: 767px) {
              margin-bottom: 10px;
            }
            a {
              font-size: 18px;
              font-weight: 500;
              @media (max-width: 767px) {
                font-size: 16px;
              }
              &:hover {
                color: $purple;
              }
            }
          }
        }
      }
      .footer-contacts {
        max-width: 450px;
        @media (max-width: 1024px) {
          max-width: inherit;
          width: calc(50% - 20px);
          order: 0;
        }
        @media (max-width: 767px) {
          width: calc(50% - 10px);
        }
        p {
          font-weight: 500;
          font-size: 32px;
          line-height: 120%;
          margin-bottom: 32px;
          @media (max-width: 1200px) {
            font-size: 26px;
            margin-bottom: 26px;
          }
          @media (max-width: 1024px) {
            font-size: 22px;
            margin-bottom: 20px;
            br {
              display: none;
            }
          }
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
        .phone {
          margin-bottom: 32px;
          font-weight: 500;
          font-size: 32px;
          line-height: 120%;
          @media (max-width: 1200px) {
            font-size: 26px;
            margin-bottom: 26px;
          }
          @media (max-width: 1024px) {
            font-size: 24px;
            margin-bottom: 20px;
          }
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .footer-bottom {
    .wrapper {
      padding: 40px 20px 30px;
      @include flex;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        background: rgba(31, 31, 41, 0.07);
        height: 1px;
      }
      @media (max-width: 1024px) {
        @include dir-col;
        padding: 30px 20px;
      }
      p,
      a {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #828286;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
      .private-policy {
        margin-left: auto;
        margin-right: 90px;
        @media (max-width: 1200px) {
          margin-right: 50px;
        }
        @media (max-width: 1024px) {
          margin: 10px 0;
        }
        &:hover {
          color: $purple;
        }
      }
      .development-text {
        margin-right: 65px;
        @media (max-width: 1200px) {
          margin-right: 0;
        }
      }
    }
  }
}

.tab-menu {
  @include flex;
  margin-bottom: 40px;
  @media (max-width: 1024px) {
    margin-bottom: 24px;
  }

  li {
    margin-right: 6px;
    a {
      font-size: 20px;
      padding: 10px 16px;
      border-radius: 50px;
      background: $gray;
      @media (max-width: 1024px) {
        padding: 6px 10px;
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    &.active {
      a {
        color: #fff;
        background: $black;
      }
    }
  }
}

.tab-content {
  .tab-content-item {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1.2s;

    &.active {
      height: auto;
      overflow: visible;
      opacity: 1;
    }
  }
}

.search-wrap {
  .title-wrap {
    @include flex;
    @include align-center;
    @include justify-between;
    margin-bottom: 48px;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
    h2 {
      font-weight: 500;
      font-size: 48px;
      line-height: 105%;
      @media (max-width: 1024px) {
        font-size: 36px;
      }
    }
    span {
      font-size: 18px;
      color: #828286;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .main-form {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 64px;
    @media (max-width: 1024px) {
      height: 48px;
    }
    input {
      width: 100%;
      background: #f4f5f6;
      border-radius: 14px;
      padding: 0 55px 0 24px;
      height: 100%;
      color: $black;
      font-size: 22px;
      @include placeholder {
        color: $black;
        font-size: 22px;
      }
      @media (max-width: 1024px) {
        font-size: 18px;
        @include placeholder {
          font-size: 18px;
        }
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      @include flex;
    }
  }
}

.pagination-wrap {
  @include flex;
  @include align-center;
  @media (max-width: 767px) {
    @include justify-center;
  }
  > button {
    @include flex;
    @include align-center;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    @media (max-width: 767px) {
      font-size: 0;
    }
    &:hover {
      color: $purple;
    }
    &.left {
      margin-right: 20px;
      display: none;
      @media (max-width: 767px) {
        display: inline-block;
      }
    }
    &.right {
      margin-left: 20px;
      img {
        display: none;
        @media (max-width: 767px) {
          display: inline-block;
        }
      }
    }
  }
  .pagination-items {
    @include flex;
    li {
      margin: 0 4px;
      button {
        width: 48px;
        height: 48px;
        @include flex;
        @include align-center;
        @include justify-center;
        font-size: 18px;
        font-weight: 500;
        transition: 0.3s;
        border-radius: 8px;
        @media (max-width: 767px) {
          width: 32px;
          height: 32px;
        }
        &:hover {
          color: white;
          background: $purple;
        }
      }
      &.active {
        button {
          color: white;
          background: $purple;
        }
      }
    }
  }
}

.personal-item {
  .img-wrap {
    overflow: hidden;
    border-radius: 30px;
    height: 294px;
    margin-bottom: 16px;
    @include flex;
    @media (max-width: 767px) {
      height: 80vw;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .info-wrap {
    padding: 40px 20px 24px;
    background: #f4f5f6;
    border-radius: 0 0 24px 24px;
    margin-top: -40px;
    .professional {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 8px;
      display: block;
      color: #828286;
    }
    .bottom {
      @include flex;
      @include justify-between;
      align-items: flex-end;
      .year {
        color: #828286;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .purple-btn {
        padding: 12px 24px;
      }
    }
    .name {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      min-height: 58px;
      margin-bottom: 24px;
      @media (max-width: 767px) {
        min-height: auto;
      }
      &:hover {
        color: $purple;
      }
    }
  }
}

.accordion-list {
  li {
    background: #f4f5f6;
    border-radius: 24px;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      border-radius: 10px;
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .item-heading {
      @include flex;
      padding: 30px 70px 30px 40px;
      position: relative;
      cursor: pointer;
      @media (max-width: 767px) {
        padding: 12px;
        padding-right: 40px;
      }
      p {
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
      }
      span {
        position: relative;
        @include flex;
        width: 24px;
        height: 24px;
        transition: 0.3s;
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        @media (max-width: 767px) {
          right: 20px;
          width: 16px;
          height: 16px;
        }
        &:after {
          content: "";
          background: url(../img/plus-icon.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          width: 24px;
          height: 24px;
          transition: 0.3s;
          position: absolute;
          top: 0;
          left: 0;
          @media (max-width: 767px) {
            width: 16px;
            height: 16px;
          }
        }
        &.rotate {
          &:after {
            background: url(../img/minus-icon.png);
          }
        }
      }
    }
    .item-body {
      padding: 0 70px 40px;
      display: none;
      @media (max-width: 767px) {
        padding: 0 12px 24px;
      }
      .text-wrap {
        p {
          font-size: 22px;
          line-height: 150%;
          @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

#read-popup {
  max-width: 686px;
  width: 100%;
  margin: 0 auto;
  .popup-body {
    border-radius: 24px;
    background: white;
    padding: 40px;
    @media (max-width: 767px) {
      padding: 40px 20px;
    }
    .stars {
      margin-bottom: 24px;
      @include flex;
      img {
        margin-right: 8px;
      }
    }
    p {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .name {
      margin-bottom: 8px;
      display: block;
      font-weight: 500;
      font-size: 22px;
      line-height: 120%;
    }
    time {
      font-weight: 500;
      font-size: 14px;
      color: #828286;
    }
  }
}

.prices-wrapper {
  margin: 100px auto 80px;
  @media (max-width: 767px) {
    margin: 40px auto;
  }
}

.portfolio-wrap {
  margin-top: 50px;
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  .wrapper {
    @include flex;
    @include justify-between;
    .portfolio-info {
      max-width: 924px;
      width: 100%;
      margin-right: 30px;
      @media (max-width: 1024px) {
        max-width: 100%;
        margin-right: 0;
      }
      h1 {
        font-weight: 500;
        font-size: 64px;
        line-height: 105%;
        margin-bottom: 36px;
        @media (max-width: 1024px) {
          font-size: 48px;
          margin-bottom: 32px;
        }
        @media (max-width: 767px) {
          font-size: 36px;
          margin-bottom: 16px;
        }
      }
      > p {
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 60px;
        @media (max-width: 1024px) {
          font-size: 20px;
          line-height: 140%;
          margin-bottom: 40px;
        }
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 32px;
        }
      }
      .tab-menu {
        margin-bottom: 32px;
        @include flex-wrap;
        li {
          margin-bottom: 8px;
        }
      }
      .tab-content {
        .tab-content-item {
          .cost-item {
            margin-bottom: 30px;
            @media (max-width: 767px) {
              margin-bottom: 20px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.clinic-prices-wrap {
  margin-top: 50px;
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  .wrapper {
    @include flex;
    @include justify-between;
    .clinic-prices-info {
      max-width: 950px;
      width: 100%;
      margin-right: 30px;
      @media (max-width: 1024px) {
        max-width: 100%;
        margin-right: 0;
      }
      h1 {
        font-weight: 500;
        font-size: 64px;
        line-height: 105%;
        margin-bottom: 32px;
        @media (max-width: 1024px) {
          font-size: 48px;
        }
        @media (max-width: 767px) {
          font-size: 34px;
          margin-bottom: 16px;
        }
      }
      > p {
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 32px;
        .green-text {
          color: #0cb553;
        }
        @media (max-width: 1200px) {
          font-size: 20px;
          line-height: 140%;
        }
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .clinic-prices-list {
        li {
          @include flex;
          @include align-center;
          margin-bottom: 22px;
          font-weight: 500;
          font-size: 32px;
          line-height: 120%;
          @media (max-width: 1200px) {
            font-size: 24px;
          }
          @media (max-width: 1200px) {
            font-size: 18px;
            margin-bottom: 16px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          img {
            margin-right: 10px;
          }
        }
      }
      .links {
        margin: 60px 0 40px;
        @include flex;
        @include flex-wrap;
        @media (max-width: 1200px) {
          margin: 40px 0;
        }
        a {
          padding: 10px 16px;
          font-size: 20px;
          line-height: 130%;
          background: #f4f5f6;
          border-radius: 56px;
          margin-right: 8px;
          margin-bottom: 16px;
          @media (max-width: 1200px) {
            font-size: 18px;
            margin-bottom: 8px;
          }
          @media (max-width: 767px) {
            font-size: 12px;
            padding: 6px 10px;
          }
          &:hover {
            background: $black;
            color: white;
          }
        }
      }
      .clinic-prices-info-item {
        margin-bottom: 48px;
        @media (max-width: 767px) {
          margin-bottom: 24px;
        }
        .top {
          @include flex;
          @include align-center;
          @include justify-between;
          padding-bottom: 16px;
          h3 {
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            @media (max-width: 1200px) {
              font-size: 34px;
            }
            @media (max-width: 767px) {
              font-size: 24px;
            }
            &.purple-text {
              color: $purple;
            }
          }
          .special-price {
            background: linear-gradient(
              269.3deg,
              #0cb553 3.11%,
              #b76fff 101.81%
            );
            border-radius: 4px;
            padding: 7px 8px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: white;
          }
        }
        .item-wrap {
          @include flex;
          @include justify-between;
          @include align-center;
          padding: 16px 24px;
          transition: 0.3s;
          border: 1px solid rgba(31, 31, 41, 0.07);
          border-left: 0;
          border-right: 0;
          margin-top: -1px;
          @media (max-width: 767px) {
            padding: 12px 0;
          }
          a {
            font-size: 20px;
            line-height: 120%;
            position: relative;
            margin-right: 10px;
            @media (max-width: 1200px) {
              font-size: 18px;
            }
            @media (max-width: 767px) {
              font-size: 14px;
            }
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              transition: 0.3s;
              width: 100%;
              height: 1px;
              border-bottom: 1px dashed rgba(31, 31, 41, 0.2);
            }
          }
          .price {
            font-size: 20px;
            white-space: nowrap;
            @media (max-width: 1200px) {
              font-size: 18px;
            }
            @media (max-width: 767px) {
              font-size: 14px;
            }
          }
          .new-price {
            margin-left: auto;
            margin-right: 24px;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            text-decoration: line-through;
            color: #828286;
            white-space: nowrap;
            @media (max-width: 1200px) {
              font-size: 18px;
              margin-right: 16px;
            }
            @media (max-width: 767px) {
              font-size: 14px;
            }
          }
          .old-price {
            @include flex;
            @include align-center;
            color: $purple;
            font-size: 20px;
            white-space: nowrap;
            @media (max-width: 1200px) {
              font-size: 18px;
            }
            @media (max-width: 767px) {
              font-size: 14px;
            }
            img {
              margin-right: 8px;
              @media (max-width: 767px) {
                width: 16px;
              }
            }
          }
          @media (min-width: 1025px) {
            &:hover {
              background: #f4f5f6;
              border-color: #f4f5f6;
              a {
                color: #8000ff;
                &:after {
                  border-color: rgba(128, 0, 255, 0.2);
                }
              }
            }
          }
        }
      }
    }
  }
}

.beer-handle {
  background: white;
}

.cost-item {
  background: #f4f5f6;
  border-radius: 30px;
  @media (max-width: 767px) {
    border-radius: 20px;
  }

  .beer-slider {
    width: 100%;
    border-radius: 30px;
    height: 460px;
    margin-bottom: 24px;
    @media (max-width: 1024px) {
      height: 400px;
    }
    @media (max-width: 767px) {
      height: 250px;
      margin-bottom: 0;
      border-radius: 20px;
    }
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  .text-wrap {
    padding: 30px;
    padding-top: 0;
    @media (max-width: 767px) {
      padding: 16px;
    }
    p {
      font-size: 22px;
      line-height: 150%;
      margin-bottom: 32px;
      @media (max-width: 767px) {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .bottom {
      @include flex;
      @include flex-wrap;
      @media (max-width: 767px) {
        @include dir-col;
      }
      .purple-btn {
        margin-left: auto;
        opacity: 0;
        @media (max-width: 767px) {
          margin: 0;
          margin-top: 16px;
          opacity: 1;
        }
      }
      .style-link {
        @include flex;
        padding: 6px 12px 8px 12px;
        align-self: flex-start;
        font-weight: 500;
        font-size: 16px;
        color: #8000ff;
        margin-right: 16px;
        background: #ead4ff;
        border-radius: 1000px;
        margin-bottom: 8px;
        &:hover {
          color: white;
          background: #8000ff;
        }
      }
      .time {
        @include flex;
        @include align-center;
        align-self: flex-start;
        background: #ffffff;
        border-radius: 1000px;
        padding: 4px 12px 4px 8px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 8px;
        img {
          margin-right: 6px;
        }
      }
    }
  }
  &:hover {
    .text-wrap {
      .purple-btn {
        opacity: 1;
      }
    }
  }
}

.request-estimate {
  background: #f4f5f6;
  border-radius: 24px;
  padding: 32px;
  width: 330px;
  min-width: 330px;
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
  align-self: flex-start;
  @media (max-width: 1024px) {
    display: none;
  }
  .style-img {
    position: absolute;
    top: 30px;
    right: -20px;
  }
  h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 16px;
    max-width: 230px;
  }
  > p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
  }
  form {
    width: 100%;
    input {
      width: 100%;
      height: 56px;
      border-radius: 14px;
      background: white;
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 500;
      color: #828286;
      padding: 0 20px;
    }
    button {
      width: 100%;
      margin-bottom: 16px;
    }
    p {
      color: #828286;
      font-size: 14px;
      line-height: 120%;
      a {
        position: relative;
        color: #828286;
        font-size: 14px;
        &:after {
          content: "";
          position: absolute;
          bottom: -1px;
          transition: 0.3s;
          left: 0;
          width: 100%;
          height: 1px;
          border-bottom: 1px dashed #828286;
        }
        &:hover {
          &:after {
            opacity: 0;
          }
        }
      }
    }
  }
}
